<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/plugin/bootstrap/css/bootstrap.min.css' />
  <script src="/plugin/jquery/jquery-3.3.1.min.js"></script>
  <script src="/plugin/jquery/jquery.validate.js"></script>
  <script src="/plugin/jquery/additional-methods.js"></script>

  <style>
    .btn {
      width: 70px;
      margin-bottom: 10px
    }

    .navbar navbar-light bg-light {
      background-color: rgb(154, 231, 231);
    }
  </style>

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://bit.ly/2D21zI9" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/hotel">Hotel</a>
      <a class="nav-item nav-link active" href="/">Room</a>
    </div>
  </div>
</nav>

<body>
  {{{body}}}
</body>

</html>